models/label_propagation.joblib
models/label_spreading.joblib
**/*/.ipynb_checkpoints
.ipynb_checkpoints
modeling_and_training/label-spreading.ipynb
modeling_and_training/lable_propagation.ipynb
node_modules
**/*/__pycache__